*{margin: 0px;
    padding: 0px;
}

body{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FB3'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f7882b'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(960 0)'%3E%3Cg transform='translate(0 30)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-237.6 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.21' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    background-color: chocolate;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

ul {
    list-style-type: none;
}  

li a {
    text-decoration: none;
    color: black;
    padding: 0.62rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    text-decoration: none;
    color: black;
    padding: 1rem; 
    background-color: chocolate;
}

main{
    margin: 1rem;
}

.header__navegacion {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
} 

.header__logo{
    flex-grow: 1;
}

.destacado__titulo{
    font-size: 6.25rem;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1.8rem;
}

.destacado__subtitulo{
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1.8rem;
}

.destacado__parrafo{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-weight: 900;
    margin: 1.5rem;
}

.destacado__boton{
    color: black;
    background-color: chocolate;
    font-size: large;
    font-weight: 900;
    margin: 1.25rem;
    padding: 1.25rem;
    border: 3px outset black;
}

.destacado__lista{
    display: flex;
    background-color: chocolate;
    justify-content:center;
    padding: 0.9rem;
}

.destacado__formulario{
    background-color: chocolate;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.62rem;
    padding: 0.62rem;
    border: 9rem;
}

.resultado__parrafo{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-weight: 900;
    margin: 1.25rem;
}

.footer__redes{
    display: flex;
    background-color: chocolate;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

.footer__derechos{
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    padding-top: 1.87rem; 
    margin: 1.25rem
}

/* comienzo Grid en index */

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "titulo titulo titulo"
                        "subtitulo subtitulo subtitulo"
                        "imagen parrafo1 parrafo1"
                        "video parrafo2 parrafo2"
                        "boton boton boton";
}

.destacado{
    grid-area: titulo;
}

.subtitulo{
    grid-area: subtitulo;
}

.imagen{
    grid-area: imagen;
}

.parrafo1{
    grid-area: parrafo1;
    align-self: center;
}

.video{
    grid-area: video;
    margin: 1rem;
}

.parrafo2{
    grid-area: parrafo2;
    align-self: center;
}

.boton{
    grid-area: boton;
}



/* comienzo Grid en seccion Productos */

.productos{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.75fr 0.50fr 2fr 0.50fr 2fr;
    grid-template-areas: "titulo titulo"
                        "subtitulo1 subtitulo1"
                        "imagen1 definicion1"
                        "subtitulo2 subtitulo2"
                        "imagen2 definicion2";
    margin: 1rem;
}

.titulo{
    grid-area: titulo;
}

.subtitulo1{
    grid-area: subtitulo1;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}

.imagen1{
    grid-area: imagen1;
    background-image: url(../recursos/taza-galeria1.png);
    background-size: cover;
    background-position: center;
}

.definicion1{
    grid-area: definicion1;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
    margin: 1rem;
}

.subtitulo2{
    grid-area: subtitulo2;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}

.imagen2{
    grid-area: imagen2;
    background-image: url(../recursos/remeras-galeria1.png);
    background-size: cover;
    
}

.definicion2{
    grid-area: definicion2;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
    margin: 1rem;
}

/* comienzo Grid Galeria */

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1.5fr 1.5fr 0.5fr 1.5fr 1.5fr;
    grid-template-areas: "titulo titulo titulo titulo titulo"
                        "subtitulo1 subtitulo1 subtitulo1 subtitulo1 subtitulo1"
                        "taza1 taza2 taza3 taza4 taza5"
                        "taza6 taza7 taza8 taza9 taza10"
                        "subtitulo2 subtitulo2 subtitulo2 subtitulo2 subtitulo2"
                        "remera1 remera2 remera3 remera4 remera5 "
                        "remera6 remera7 remera8 remera9 remera10";
}

.galeria__titulo{
    grid-area: titulo;
}
.galeria_subtitulo1{
    grid-area: subtitulo1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}

.galeria__taza1{
    grid-area: taza1;
    background-image: url(../recursos/taza-galeria1.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.galeria__taza2{
    grid-area: taza2;
    background-image: url(../recursos/taza-galeria2.png);
    background-size:contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.galeria__taza3{
    grid-area: taza3;
    background-image: url(../recursos/taza-galeria3.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.galeria__taza4{
    grid-area: taza4;
    background-image: url(../recursos/taza-galeria4.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.galeria__taza5{
    grid-area: taza5;
    background-image: url(../recursos/taza-galeria5.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.galeria__taza6{
    grid-area: taza6;
    background-image: url(../recursos/taza-galeria6.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.galeria__taza7{
    grid-area: taza7;
    background-image: url(../recursos/taza-galeria7.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.galeria__taza8{
    grid-area: taza8;
    background-image: url(../recursos/taza-galeria8.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.galeria__taza9{
    grid-area: taza9;
    background-image: url(../recursos/taza-galeria9.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.galeria__taza10{
    grid-area: taza10;
    background-image: url(../recursos/taza-galeria10.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.galeria_subtitulo2{
    grid-area: subtitulo2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10rem;
}

.galeria__remera1{
    grid-area: remera1;
    background-image: url(../recursos/remeras-galeria1.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.galeria__remera2{
    grid-area: remera2;
    background-image: url(../recursos/remeras-galeria2.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.galeria__remera3{
    grid-area: remera3;
    background-image: url(../recursos/remeras-galeria3.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.galeria__remera4{
    grid-area: remera4;
    background-image: url(../recursos/remeras-galeria4.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.galeria__remera5{
    grid-area: remera5;
    background-image: url(../recursos/remeras-galeria5.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.galeria__remera6{
    grid-area: remera6;
    background-image: url(../recursos/remeras-galeria6.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.galeria__remera7{
    grid-area: remera7;
    background-image: url(../recursos/remeras-galeria7.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.galeria__remera8{
    grid-area: remera8;
    background-image: url(../recursos/remeras-galeria8.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.galeria__remera9{
    grid-area: remera9;
    background-image: url(../recursos/remeras-galeria9.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.galeria__remera10{
    grid-area: remera10;
    background-image: url(../recursos/remeras-galeria10.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}


/* utilizacion de grid quienes somos */

.quienesomos{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "titulo titulo"
                        "agustin agustin"
                        "imagenagus parrafoagus"
                        "luz luz"
                        "imagenluz parrafoluz";
}

.quien__titulo{
    grid-area: titulo;
}

.quien__agustin{
    grid-area: agustin;
}

.quien__imagenagus{
    grid-area: imagenagus;
}

.quien__parrafoagus{
    grid-area: parrafoagus;
}

.quien__luz{
    grid-area: luz;
}

.quien_imagenluz{
    grid-area: imagenluz;
}

.quien__parrafoluz{
    grid-area: parrafoluz;
}




/* Utilizacion de media quarie */

/* TABLET */
@media (min-width: 541px) and (max-width: 720px){
    .grid{
        grid-template-columns: 2fr 10fr;
       /*  grid-template-rows: 0.25fr 0.15fr 0.5fr 1fr 0.15fr; */
        grid-template-areas: "titulo titulo"
                            "subtitulo subtitulo"
                            "imagen parrafo1"
                            "video parrafo2"
                            "boton boton";
    }

    header{
        background-color: chocolate;
        flex-direction: column;
        width: 52rem;
    }

    /* li a {
        font-size: 2rem;
    } */

    .video__mod{
        width: 80vw;
        height: 50vh;
    }

    .imagen__mod{
        width: 100vw;
        height: 80vh; 
    }

    .footer__redes{
        width: 52rem
    }

    .productos{
        display: grid;
        grid-template-columns: 25rem 25rem;
        grid-template-rows: 0.75fr 0.50fr 2fr 0.50fr 2fr;
        grid-template-areas: "titulo titulo"
                            "subtitulo1 subtitulo1"
                            "imagen1 definicion1"
                            "subtitulo2 subtitulo2"
                            "imagen2 definicion2";
    }
    
    .imagen1, .imagen2{
        width: 50vw;
        height: 40vh;
    }

    .galeria{
        display: grid;
        grid-template-columns: 28rem 28rem;
        grid-template-rows: 1fr 0.5fr 3fr 3fr 3fr 3fr 3fr 0.5fr 3fr 3fr 3fr 3fr 3fr;
        grid-template-areas: "titulo titulo"
                            "subtitulo1 subtitulo1"
                            "taza1 taza2"
                            "taza3 taza4"
                            "taza5 taza6"
                            "taza7 taza8"
                            "taza9 taza10"
                            "subtitulo2 subtitulo2"
                            "remera1 remera2"
                            "remera3 remera4"
                            "remera5 remera6"
                            "remera7 remera8"
                            "remera9 remera10";
    }
}


/* CELULAR */
@media (min-width:320px) and (max-width: 540px){
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "titulo"
                            "subtitulo"
                            "imagen"
                            "parrafo1"
                            "video"
                            "parrafo2"
                            "boton";
    }

    .video__mod{
        width: 190vw;
        height: 70vh;
    }

    header{
        flex-direction: column;
        width: 52rem;
    }

    li a {
        font-size: 2rem;
    }
    .header__navegacion{
        flex-direction: column;
    }

    .footer__redes{
        width: 52rem
    }

    .productos{
        display: grid;
        grid-template-columns:3fr;
        grid-template-rows: 0.75fr 0.50fr 2fr 1fr 0.50fr 2fr 1fr;
        grid-template-areas: "titulo"
                            "subtitulo1"
                            "imagen1"
                            "definicion1"
                            "subtitulo2"
                            "imagen2"
                            "definicion2";
    }

    .imagen1, .imagen2{
        width: 140vw;
        height: 50vh;
    }

    .galeria{
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: 1fr 0.5fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 0.5fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
        grid-template-areas: "titulo"
                            "subtitulo1"
                            "taza1"
                            "taza2"
                            "taza3"
                            "taza4"
                            "taza5"
                            "taza6"
                            "taza7"
                            "taza8"
                            "taza9"
                            "taza10"
                            "subtitulo2"
                            "remera1"
                            "remera2"
                            "remera3"
                            "remera4"
                            "remera5"
                            "remera6"
                            "remera7"
                            "remera8"
                            "remera9"
                            "remera10";
    }

    .quienesomos{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-areas: "titulo"
                            "agustin"
                            "imagenagus"
                            "parrafoagus"
                            "luz"
                            "imagenluz"
                            "parrafoluz";
    }

    .destacado__subtitulo{
        text-align: center;
    }

    .destacado__parrafo{
        font-size: 1.5rem;
    }
}
