*{margin: 0px;
    padding: 0px;
}

body{
    background-color: $color-fondo;
    background-image: $color-imagenfondo;
    background-attachment: fixed;
    background-size: cover;
}

.bg-p{
    background: $fondo_footer_header;
    background-blend-mode: multiply, overlay, normal;
}

li{
    margin-right: 1rem;
}

li:hover{
    transform: scale(1.1);
    transition: all 1s;
}

.col{
    display: flex;
    justify-content: center;
}

.boton{
    @extend .col;
    margin-top: 2rem;
}

.qs{
    margin-top: 2rem;
}

form{
    @extend .col;
}