/* TABLET */
@media (min-width: 541px) and (max-width: 800px){

    .destacado{
        &__titulo{
        font-size: $tam-titulo*2;
        }
        &__subtitulo{
            font-size: $tam-subtitulo*1.5;
        }
        &__parrafo{
            font-size: 1rem;
        }
    }

    .imagen__producto1{
        width: 50rem;
        height: 50rem;
    }
}


/* CELULAR */
@media (min-width:320px) and (max-width: 540px){

    .destacado{
        &__titulo{
            font-size: $tam-titulocel;
        }
        &__subtitulo{
            font-size: $tam-subtitulocel;
        }
        &__parrafo{
            font-size: 1rem;
        }
    }

    .header__navegacion{
        flex-direction: column;
    }

    .imagen__producto1{
        width: 90vw;
        height: 45vh;
    }

    .imagen__logo{
        width: 30vw;
        height: 30vh;
    }

    .video{
        width: 95vw;
        height: 30vh;
    }
}