$letra-principal: Verdana, Geneva, Tahoma, sans-serif;

$color-fondo: #FFC67C;

$color-imagenfondo: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23fcb662' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23f7a44a' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23f19232' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23ea7f1c' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23D06D19' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");

$letra-weight: 900;

$color_leta: black;

$color_boton: chocolate;

$fondo_footer_header: linear-gradient(123deg, #FFFCAC 0%, #FFFFFF 67%), linear-gradient(180deg, #D8D8D8 0%, #6B0000 100%), linear-gradient(142deg, #F9F5F0 0%, #F9F5F0 33%, #F2EAD3 calc(33% + 1px), #F2EAD3 56%, #F4991A calc(56% + 1px), #F4991A 62%, chocolate calc(62% + 1px), chocolate 100%);

$tam-titulo: 3rem;

$tam-subtitulo: 2.5rem;

$tam-titulocel: 2rem;

$tam-subtitulocel: 1.5rem;




